# Environments
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
